In [1]:
import pandas as pd
from pandas.io.json import *
import json
from yelpapi import YelpAPI

In [3]:

Yelp_key = 'HUzKDcMtyOQkn33qhRraMW_LTvRf7p5u2kycF9E1kOe_DtmKfc6EroH1vEYjWjs3mvpy2jiDIuAo_9AAt1wlDtWJML3bIEUGtsh7escPg36bGGrZN2I4giW_0JN9YnYx'
yelp_api = YelpAPI(Yelp_key)
search_result = yelp_api.search_query(location='VANCOUVER',latitude='49.246292',longtitude='-123.116226')
#print(json.dumps(search_result['businesses'], indent=4))

#Retrieve data from URL and put it JSON format -> put in DataFrame
json_file = json_normalize(search_result, record_path='businesses')
df = pd.DataFrame(json_file)
df.head()

<ipython-input-3-7350a7916d95>:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_file = json_normalize(search_result, record_path='businesses')

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,coordinates.longitude,location.address1,location.address2,location.address3,location.city,location.zip_code,location.country,location.state,location.display_address,price
0,kajMc2fkWKdzKJ1M4pm47Q,stanley-park-vancouver-4,Stanley Park,https://s3-media3.fl.yelpcdn.com/bphoto/PY0VrZ...,False,https://www.yelp.com/biz/stanley-park-vancouve...,974,"[{'alias': 'parks', 'title': 'Parks'}]",5.0,[],...,-123.130809,1166 Stanley Park Drive,,,Vancouver,V6G,CA,BC,"[1166 Stanley Park Drive, Vancouver, BC V6G, C...",NaN
1,VPqWLp9kMiZEbctCebIZUA,medina-cafe-vancouver,Medina Cafe,https://s3-media3.fl.yelpcdn.com/bphoto/BZSfth...,False,https://www.yelp.com/biz/medina-cafe-vancouver...,2388,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,[],...,-123.117036,780 Richards Street,,,Vancouver,V6B 3A4,CA,BC,"[780 Richards Street, Vancouver, BC V6B 3A4, C...",$$
2,4EV_ZcQmjAmP3pmO-_nb2A,miku-vancouver-2,Miku,https://s3-media3.fl.yelpcdn.com/bphoto/_mSRn8...,False,https://www.yelp.com/biz/miku-vancouver-2?adju...,1912,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",4.5,[],...,-123.112763,200 Granville Street,Suite 70,,Vancouver,V6C 1S4,CA,BC,"[200 Granville Street, Suite 70, Vancouver, BC...",$$$
3,LjdbthVdtLYKSi7iVAFl0g,jam-cafe-on-beatty-vancouver,Jam Cafe on Beatty,https://s3-media1.fl.yelpcdn.com/bphoto/KF89Ia...,False,https://www.yelp.com/biz/jam-cafe-on-beatty-va...,1169,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.5,[],...,-123.109638,556 Beatty Street,,,Vancouver,V6B 2L3,CA,BC,"[556 Beatty Street, Vancouver, BC V6B 2L3, Can...",$$
4,_4R46MNkwx9MeOyt0YfNxA,chambar-vancouver,Chambar,https://s3-media4.fl.yelpcdn.com/bphoto/fSzNu6...,False,https://www.yelp.com/biz/chambar-vancouver?adj...,1418,"[{'alias': 'belgian', 'title': 'Belgian'}]",4.0,[],...,-123.109925,568 Beatty Street,,,Vancouver,V6B 2L3,CA,BC,"[568 Beatty Street, Vancouver, BC V6B 2L3, Can...",$$$

In [4]:
# Split the column ID and Address from the big data set to form a table in sqlite database
id_address = {}
for ad in search_result['businesses']:
    id_address[str(ad['id'])] = str(ad['location']['address1'])

df_address = pd.DataFrame(id_address.items(),columns=['id','address'])

In [5]:
category = {}
for cat in search_result['businesses']:
    category[str(cat['id'])] = str(cat['categories'][0]['title'])

df_categories = pd.DataFrame(category.items(),columns=['id','categories'])

In [32]:
df_categories

                        id          categories
0   kajMc2fkWKdzKJ1M4pm47Q               Parks
1   VPqWLp9kMiZEbctCebIZUA  Breakfast & Brunch
2   4EV_ZcQmjAmP3pmO-_nb2A            Japanese
3   LjdbthVdtLYKSi7iVAFl0g  Breakfast & Brunch
4   _4R46MNkwx9MeOyt0YfNxA             Belgian
5   gt1BSfVFvzI-qHdJ3LUZug             Seafood
6   yeNenSjz_HCqngGFU5d8NQ           Cambodian
7   crM1idgY_glhtxXT5kERNg            Japanese
8   GmEeIcJ9vR04kxzYgPMEgg            Japanese
9   uAROEz8D29elXoNxjnPrkQ              French
10  i0xnuLimVcuSoBqO265obA               Ramen
11  MELmrubCowx8e3G68WTqgQ               Ramen
12  p5thThuUITUjAy8gS3sPMw      Canadian (New)
13  Ufhxnrt_OJu4jHfVTP3aRQ             Seafood
14  sCyqVDtWysnVwkUvyN-uUQ            Desserts
15  dX6y4zA-1AtWsYnT4AZXNg        Coffee & Tea
16  A8ab1QjPyC10m9NAKQkliA           Fast Food
17  NdEPf2Ls5Ql3_nkwjqKvXA      Canadian (New)
18  5T0vKfIJWP1xTnxA7fJ17w          Sandwiches
19  2cXOMeyBCx4JFgs5-CJQdQ             Seafood

In [6]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

#Create database for yelp data
connection = create_connection("yelpData.sqlite")
cursor = connection.cursor()

Connection to SQLite DB successful

In [18]:
#import data from DataFrame into SQLite database
df = df.applymap(str)
df.to_sql(name='restaurant',con=connection,if_exists="append")

NameError: name 'connection' is not defined

In [23]:
#add an address table into the database with ID
df_address.to_sql(name='address',con=connection,if_exists="append")

In [33]:
#add a categories table into database with ID
df_categories.to_sql(name='categories',con=connection,if_exists="append")

In [ ]:
# connection.execute("DROP TABLE address")
# connection.commit()